*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}
body{
    background-color: red;
}
.grid{
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 0;
}

.grid h1{
    font-family: sans-serif;
    background-color: red;
    font-size: 2em;
    text-align: center;
    color: white;
    padding: 2px 0px;
    margin-bottom:0.5em;
    border-bottom: 2px groove black;
    text-shadow: 2px 2px 2px black;
}

.grid #question{
    font-family: sans-serif;
    text-align: center;
    font-size: 1.5em;
    color: black;
    font-weight: bold;
}

.buttons{
    margin-top: 1%;
}

#btn0, #btn1, #btn2, #btn3{
background-color: red;
width: 100%;
font-size: 1em;
color: white;
border: 1px solid black;
border-radius: 5px;
margin-top:1%;
padding: 0.5em 0.5em;
text-shadow: 1px 1px 1px black;
font-weight: bold;
}

#score{
    text-align: center;
    font-size: 30px;
}

#progress{
    color: black;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover{
    cursor: pointer;
    background-color: lightcoral;
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus{
    outline: 0;
}

img{
    width: 50%;
    margin-left: 25%;
    margin-left: 25%;
    max-height: 175px;
    max-width: 175px;
}

figure{
    width: 35%;
    margin-right: 32.5%;
    margin-left: 32.5%;
}

input{
    background-color: red;
    width: 100%;
    font-size: 1em;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin-top:1%;
    padding: 0.5em 0.5em;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
}
